body {
  background-color: #1D1D18;
  color: #3E8D14;
}

a {
  color: #04E824;
}

a:hover {
  color: #04E824;
}

a:active {
  color: #04E824;
}

nav ul li a, nav ul li span, {
  display: block;
}

#logo{
  width:100px;
  height:100px;
}

.link {
  background: none!important;
  border: none;
  padding: 0!important;
  color: #04E824;
  font-style: italic;
}

.flash{
  color: #c91100;
}
