<!doctype html>
<head>
  <title>Coronaboard</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</head>
<nav class="navbar">
  <h1><a href="{{ url_for('index.index') }}"><img id="logo" src="{{ url_for('static', filename='images/corona.png') }}">Coronaboard</a></h1>
  {% if g.user %}
  <a href="{{ url_for('post_blueprint.create') }}"><button class="btn-success">Create new post</button></a>
  {% endif %}
  <ul>
    {% if g.user %}
      <li>You're logged in as <a href="{{ url_for('user_blueprint.show_user') }}">{{ g.user['username'] }}</a>
      {% if g.user['id']==1 %}
      <li><a href="{{ url_for('user_blueprint.show_users') }}">See all Coronaboard users</a>
      {% endif %}
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('user_blueprint.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
<footer>
&copy; Wiktor Sierpiński
</footer>
