{% extends 'base.html' %}

{% block header %}
  {% block title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
  <form action="/posts" method="post">
    <label for="category">Show only</label>
    <select id="category" name="category">
      <option selected disabled hidden style='display: none' value=''></option>
      <option value="groceries">Posts about groceries</option>
      <option value="dogs">Posts about dog walking</option>
    </select>
    <input class="btn-success" type="submit" value="Select">
  </form>
  <div class="row">
    {% for post in posts %}
      <div class="col-sm-4 single-post">
        <div class="paper">
          <h3>
            <a href='/post/{{ post['id'] }}'>{{ post['title'] }}</a>
            <img id="pin" src="{{ url_for('static', filename='images/drawing-pin.png') }}">
          </h3>
          {{ post['description'] | safe }}
        </div>
          <div class="row">
            <i><small>created {{ post['created'] }} by</small></i>&nbsp;
            <form action="/users" method="post">
              <input type="hidden" id="id" name="id" value="{{ post['author_id'] }}">
              <button class="link" type="submit" value="Submit"">{{ post['author']['username'] }}</button>
            </form>
          </div>
          {% if post['edited'] %}
            edited
          {% endif %}

      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
