{% extends 'base.html' %}

{% block header %}
  {% block title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="container">
  <form action="/posts" method="post">
    <label for="category">Show only</label>
    <select id="category" name="category">
      <option selected disabled hidden style='display: none' value=''></option>
      <option value="groceries">Posts about groceries</option>
      <option value="dogs">Posts about dog walking</option>
    </select>
    <input class="btn-success" type="submit" value="Select">
  </form>
  <div class="row">
    {% for post in posts %}
      <div class="col-sm-4">

          <h3><a href='/post/{{ post['id'] }}'>{{ post['title'] }}</a></h3>
          {{ post['description'] | safe }}<br>
          <form action="/users" method="post">
            <i><small>created {{ post['created'] }} by
              <input type="hidden" id="id" name="id" value="{{ post['author_id'] }}">
              <button class="link" type="submit" value="Submit"">{{ post['author']['username'] }}</button>
            </small></i>
          </form><br>
          {% if post['edited'] %}
            edited<br>
          {% endif %}

      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
