<!doctype html>
<head>
  <title>Index</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Index</h1>
  <p id="welcome">Hello, {{ name }}</p>
  <div class="container">
    <div class="row">
      {% for post in posts %}
        <div class="col-sm-4">{{ post }}</div>
      {% endfor %}
    </div>
  </div>
</body>
