{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Delete {{ post['title'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>Are you sure you want to delete {{ post['title'] }}?</p>
<form method="post">
  <input type="hidden" id="delete_id" name="delete_id" value="{{ post['id'] }}">
  <button class="btn-danger" type="submit" value="Submit"">Yes, delete {{ post['title'] }}</button>
</form>
<a href="{{ url_for('index.index') }}"><button class="btn-success">Cancel</button></a>
{% endblock %}
