{% extends 'base.html' %}

{% block header %}
<div class="container">
  <h1>{% block title %}Edit {{ post['title'] }}{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">
      <label for="description">New description</label><br>
      <textarea class="form-control" id="description" name="description" required>
        {{ post['description'] }}
      </textarea>
    </div>
    <input class="btn-success" type="submit" value="Post">
  </form>
</div>
{% endblock %}
