{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit {{ user['username'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <input type="hidden" id="id" name="id" value="{{ user['id'] }}">
    <label for="old_password">Old password</label>
    <input type="password" name="old_password" id="old_password" required>
    <label for="new_password">New password</label>
    <input type="password" name="new_password" id="new_password">
    <label for="new_password2">Repeat password</label>
    <input type="password" name="new_password2" id="new_password2">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <input type="submit" value="Submit changes">
  </form>
{% endblock %}
