{% extends 'base.html' %}

{% block header %}
<div class="container">
  <h1>{% block title %}Log In{% endblock %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <form method="post">
    <div class="form-group">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input class="btn-success" type="submit" value="Log In"></div>
  </form>
</div>
{% endblock %}
